<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Chats</title>
  </head>
  <body>
    <p>Edit your Chats : <%= chat._id %></p>
    <p>
      This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b>
    </p>
    <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
      <textarea name="msg" id="" cols="30" rows="10"><%= chat.msg %></textarea>
      <button>Edit</button>
    </form>
  </body>
</html>
